/* responsive max width 700 */
/* nav section  */


:root{
    /* colors */
   --bg-color:#fff;
   --title-color:#001b35;
   --red-color: #dd3439;
   --black-color: #000000;   
/* fonts */
   --thm-font: 'Poppins', sans-serif;
   --thm-font-2: 'Poppins', sans-serif;
   --thm-font-3: 'Cormorant Garamond', serif;
}

@media (max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: var(--red-color);
        height: 100vh;
        width: 200px;
        top: 0; right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav ion-icon{
        display: block;
        color: var(--bg-color);
        font-size: 22px;
        cursor: pointer;
        margin: 20px;
        font-size: 45px;

    }
    .nav-links ul{
        padding: 30px;

    }
    .row{
        flex-direction: column;
    }

}
/* screen with 920 */

@media (max-width:935px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: var(--red-color);
        height: 100vh;
        width: 400px;
        top: 0; right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav ion-icon{
        display: block;
        color: var(--bg-color);
        font-size: 22px;
        cursor: pointer;
        margin: 20px;
        font-size: 45px;

    }
    .nav-links ul{
        padding: 30px;

    }
    .row{
        flex-direction: column;
    }

}


/* screen with 920 */

@media (max-width:920px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: var(--black-color);
        height: 100vh;
        width: 400px;
        top: 0; right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav ion-icon{
        display: block;
        color: var(--bg-color);
        font-size: 22px;
        cursor: pointer;
        margin: 20px;
        font-size: 45px;

    }
    .nav-links ul{
        padding: 30px;

    }

}

@media only screen and (max-width: 767px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: var(--red-color);
        height: 100vh;
        width: 400px;
        top: 0; right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav ion-icon{
        display: block;
        color: var(--bg-color);
        font-size: 22px;
        cursor: pointer;
        margin: 20px;
        font-size: 45px;

    }
    .nav-links ul{
        padding: 15px;

    }

} 